html, body {
  background: #BDBEA9;
  font-family: 'Manrope', sans-serif, helvetica, arial;
  font-size: 18px;
  color: #000000;
}

h1{
  border-bottom: 0.5px solid #D2AB99;
  padding: 10px 0 0;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  color: #D2AB99;
}

h2{
  border-bottom: 0 solid #D2AB99;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #D2AB99;
}

h3{
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #000000
}

p{
  margin: 30px;
  border: 30px solid transparent;
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #000000;
}

ul{
  width:50%;
  margin: 0px 30px 0px 30px;
  border: 0px solid transparent;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #000000;
}

a:link {
  color: #BDBEA9;
}

a:visited {
  color: #BDBEA9;
}

a:focus {
  border-bottom: 1px solid;
  background: #BDBEA9;
}

a:hover {
  border-bottom: 1px solid;
  background: #04724D;
}

a:active {
  color: #04724D;
}

#portfolio{
  margin: 20px 200px 30px 200px;
  padding: 20px;
  background: #56876D;
  width:75%;
}
#header{}
#headerTitle{}
#profilePic{
  float: right;
  padding: 30px;
}
#headerContact{}
#mainArea{}
#mainArea h1{}
#sectionTitle{}
#sectionContent{}
  #sectionPic{
    float: right;
    padding: 30px;
  }
